.opp{
    border: 1px solid red;
    width: 90vw;
    margin: auto;
}
.player{
    width: 90vw;
    margin: auto;
    border: 1px solid orange
}
.gameinfo{
    border: 1px solid palegreen;
    margin: auto;
    width: 90vw;
}