.opp{
    border: 1px solid red;
    width: 90vw;
    margin: auto;
}
.player{
    width: 90vw;
    margin: auto;
    border: 1px solid orange
}
.gameinfo{
    border: 1px solid palegreen;
    margin: auto;
    width: 90vw;
    background-color: #afe0ceff
    /* All colors are placeholder subject to change */
}
button:hover{
    color: #afe0ceff;
    background-color: #0d1321ff;
}
/* --rich-black: #0d1321ff;
--linen: #ffeddfff;
--mindaro: #c5d86dff;
--rose-taupe: #86615cff;
--tiffany-blue: #afe0ceff; */