/* A1A7AC
9BB2A2
AEA595
AE8C71
9A6560 Palette Colors */

body{
    background-color: #9BB2A2;
}
.oppinfo, .playerinfo{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color:beige;
    z-index: 0;
    text-align: center;
}
.oppinfo{
    position: absolute;
    left: 20px;
}
.playerinfo{
    position: absolute;
    left: 1150px;
    bottom: 205px;
    z-index: 0;
}
.health{
    border: 1px solid black;
    position: relative;
    left: 10px;
    background-color: red;
    z-index: 1;
    text-align: center;
    width: 175px;
}
.hand{
    width: 850px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 0;

    position: absolute;
    top: 70%;
    border: 1px solid black;
    background-color: beige;
}
/* hand.textContent="This is your hand: Cards will appear here"
    hand.style.width = '850px'
    hand.style.height = '100px';
    hand.style.display ='flex'
    hand.style.flexDirection = 'row'
    hand.style.alignItems = 'center'
    //justifyContent placed all the cards in the center but I think space-evenly or space-betwen can be used
    hand.style.justifyContent = 'space-evenly'
    //hand.style.justifyContent ='center'
    hand.style.zIndex= 0

    hand.style.position ='relative'
    hand.style.bottom = "250px"
    
    hand.setAttribute('id', 'hand')
    //This border will be for testing
    hand.style.border = '1px solid black'
    hand.style.backgroundColor = 'beige'
    
    document.body.append(hand)
    return hand
     */