/* A1A7AC
9BB2A2
AEA595
AE8C71
9A6560 Palette Colors */

body{
    background-color: #9BB2A2;
}
.oppinfo, .playerinfo{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color:beige;
    z-index: 0;
    text-align: center;
}
.oppinfo{
    left: 20px;
    position: relative;
}
.playerinfo{
    left: 1150px;
    position: relative;
}
.health{
    border: 1px solid black;
    position: relative;
    left: 10px;
    background-color: red;
    z-index: 1;
    text-align: center;
    width: 175px;
}
.hand{
    width: 850px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 0;

    top: 70%;
    border: 1px solid black;
    background-color: beige;
}